# Ignorar arquivos de dados

*.csv
*.xlsx
!dicionario_firmas_completas.xlsx
*.xls
*.dta
*.sav
*.rdata
*.rda

# Ignorar pastas com dados

dados/
data/
dataset/

# Ignorar arquivos sensíveis

.env
config.yml

# Ignorar arquivos temporários

*.tmp
*.log

# Ignorar um arquivo específico

trabalho_3.ipynb
.Rproj.user
